# Entorno virtual
venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local de Django
db.sqlite3

# Archivos multimedia (Descarga tenmporales)
media/

# Archivos de sistema
.DS_Store
Thumbs.db

.env